.port-screen {
  box-sizing: border-box;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  .port-name-container {
    height: 20%;
    display: flex;
    align-items: center;
    h1 {
      text-transform: uppercase;
      font-size: 36px;
    }
  }
  .port-asset-container {
    min-height: 80%;
    box-sizing: border-box;
    width: 100%;
    padding: 0 45px;
    .port-header {
      display: grid;
      grid-template-columns: repeat(10, 1fr);
      h2 {
        font-size: 18px;
      }
    }
    .port-assets {
      margin-top: 25px;
      .asset {
        display: grid;
        grid-template-columns: repeat(10, 134.39px);
        margin-bottom: 25px;
      }
    }
  }
}
