.port-screen {
  box-sizing: border-box;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  .port-name-container {
    height: 20%;
    display: flex;
    align-items: center;
    h1 {
      text-transform: uppercase;
      font-size: 36px;
    }
  }
  .port-asset-container {
    min-height: 80%;
    box-sizing: border-box;
    max-width: 100%;
    padding: 0 45px;
    overflow-x: scroll;
    hr{
      position: sticky;
      width: 100%;
      left: 0%;
    }
    .port-header {
      display: grid;
      grid-template-columns: repeat(10, 1fr);
      width: 1335px;
      padding-left: 5px;
      h2 {
        font-size: 18px;
      }
    }
    .port-assets {
      margin-top: 15px;
      max-width: 100%;
      .asset {
        display: grid;
        grid-template-columns: repeat(10, 135px);
        height: 40px;
        padding-left: 5px;
        cursor: pointer;
        transition: all .25s ease-in;
        &:hover{
          background-color: rgba(0, 0, 0, 0.05);
          backdrop-filter: blur(1px);
          border-radius: 5px;
        }
        p{
          margin: auto 0;
        }
      }
    }
  }
}
