@import "./shared";

.modal-bg {
  @include modal-bg;
  .modal {
    @include modal;
    header {
      @include modal-header;
    }
    .forms {
      @include content-container;
      justify-content: space-evenly;
      .port-form {
        display: flex;
        .port-form-dropdown{
          position: relative;
          
          .port-form-options{
            position: absolute;
            width: 100%;
            box-sizing: border-box;
            background-color: $moon;
            border-left: 1px solid black;
            border-right: 1px solid black;
            border-bottom: 1px solid black;
            &.close{
              display: none;
            }
            &.open{
              display: block;
            }

            li{
              display: flex;
              border-bottom: 1px solid $full-moon;
              align-items: center;
              justify-content: flex-start;
              padding: 15px;
              &:hover{
                background-color: rgba(0, 0, 0, 0.05);
                backdrop-filter: blur(1px);
              }
              .port-option{
                width: 20px;
                height: 20px;
              }
              label{
                margin-left: 10px;
                font-size: 20px;
                width: 100%;
                cursor: pointer;
              }
            }
          }
        }
        button {
          height: 56px;
          border-radius: 5px;
          font-size: 24px;
          background-color: $sun;
          border: $sun solid 1px;
          margin: 0 auto;

          &:disabled{
            background-color: $moon;
            color: darkgray;
            border: darkgray solid 1px;
          }
        }
      }
      .asset-form {
        height: 400px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        input {
          width: auto;
        }
        button {
          background-color: $sun;
          border-radius: 5px;
          font-size: 24px;
          border: $sun solid 1px;
          height: 56px;
          width: 157px;
          margin: 0 auto;
          transition: .25s all ease-in;
          &:hover{
            background-color: $full-moon;
            border: solid 1px black;
            color: $sun;
          }
        }
        .submit-btn{
          background-color: $sun;
        }
        .delete-btn{
          background-color: $mars;  
        }
      }

      input {
        height: 56px;
        padding: 0 45px;
        background-color: $moon;
        border: black solid 1px;
        font-size: 24px;
        color: $crater;
        text-transform: uppercase;
        &::placeholder {
          font-size: 24px;
          color: $crater;
        }
      }
      datalist {
        background-color: #e9e2e2;
        color: $crater;
      }
    }
  }
}


.buttons{
  display:flex;
}
