@import "./shared";

.modal-bg {
  @include modal-bg;
  .modal {
    @include modal;
    .modal-header {
      @include modal-header;
    }
    .forms {
      @include content-container;
      justify-content: space-evenly;
      p {
        margin-bottom: 15px;
      }
      .port-form {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        width: 100%;
        padding-bottom: 20px;
        border-bottom: solid $moon 2px;

        @include custom-dropdown(40%);

        // custom custom dropdown input style
        .port-form-currency {
          width: 40%;
          box-sizing: border-box;

          &:disabled {
            background-color: $full-moon;
            border: darkgray solid 1px;
            &::placeholder {
              color: darkgray;
            }
          }
        }

        button {
          height: 42px;
          width: 10%;
          border-radius: 5px;
          font-size: 24px;
          background-color: $sun;
          border: $sun solid 1px;

          &:disabled {
            background-color: $full-moon;
            color: darkgray;
            border: darkgray solid 1px;
          }
        }
      }
      .asset-form {
        min-height: 400px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        @include custom-dropdown(100%);

        .asset-input-wrapper {
          display: flex;
          flex-direction: column;
          input {
            width: auto;
          }
        }
        button {
          background-color: $sun;
          border-radius: 5px;
          font-size: 24px;
          height: 42px;
          width: 157px;
          margin: 0 auto;
          margin-top: 15px;
          transition: 0.25s all ease-in;
          &:hover {
            background-color: $full-moon;
            border: solid 1px black;
            color: $sun;
          }
        }
        .submit-btn {
          background-color: $sun;
          border: $sun solid 1px;
        }
        .delete-btn {
          background-color: $mars;
          border: $mars solid 1px;
        }
      }

      .asset-read-only-info{
        display: flex;
        justify-content: space-between;
        padding-bottom: 20px;
        border-bottom: solid $moon 2px;
        .read-only-wrapper{
          p{
            background-color: $moon;
            border: solid #000000 1px;
            color: $crater;
            padding: 5px;
            width: 100px;
          }
        }
      }

      input {
        height: 42px;
        padding: 0 30px;
        background-color: $moon;
        border: black solid 1px;
        font-size: 18px;
        color: black;
        text-transform: uppercase;
        &::placeholder {
          font-size: 18px;
          color: $crater;
        }
        &:disabled {
          background-color: $full-moon;
          border: darkgray solid 1px;
          &::placeholder {
            color: darkgray;
          }
        }
      }
    }
  }
}

.buttons {
  display: flex;
}
