@import "./shared";

.modal-bg {
  @include modal-bg;
  .modal {
    @include modal;
    header {
      @include modal-header;
    }
    .forms {
      @include content-container;
      justify-content: space-evenly;
      .port-form {
        display: flex;
        input {
          width: 381px;
        }
        button {
          height: 56px;
          width: 56px;
          border-radius: 15px;
          font-size: 24px;
          background-color: #156b0d;
          border: #156b0d solid 1px;
          margin: 0 auto;
          color: white;
        }
      }
      .asset-form {
        height: 400px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        input {
          width: auto;
        }
        button {
          background-color: #ffa959;
          border-radius: 15px;
          font-size: 24px;
          border: black solid 2px;
          height: 56px;
          width: 157px;
          margin: 0 auto;
        }
      }

      input {
        height: 56px;
        padding: 0 45px;
        background-color: #e9e2e2;
        border: black solid 2px;
        font-size: 24px;
        color: #807d7d;
        text-transform: uppercase;
        &::placeholder {
          font-size: 24px;
          color: #807d7d;
        }
      }
      datalist {
        background-color: #e9e2e2;
        color: #807d7d;
      }
    }
  }
}
