@import "./shared";

.modal-bg {
  @include modal-bg;
  .modal {
    @include modal;
    header {
      @include modal-header;
    }
    .portfolios {
      @include content-container;
      .portfolio {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 15px 0;
        .mutables{
          width: 25%;
          display: flex;
          justify-content: space-between;
          button{
            font-size: 18px;
            transition: .25s all ease-in;
            cursor: pointer;
            &.edit-btn{
              border: solid 2px black;
              border-radius: 5px;
              background-color: $sun;
              &:hover{
                background-color: $full-moon;
                border: solid 2px black;
                color: $sun;
              }
            }
            &.delete-btn{
              background-color: $full-moon;
              border: none;
              text-decoration: underline;
              &:hover{
                color: $mars;
              }
            }
          }
        }

        .port-alias{
          height: 40px;
          background-color: $moon;
          border: solid 2px black;
          border-radius: 5px;
          color: $crater;
          padding-left: 15px;
          font-size: 24px;
        }
        .save-btn{
          background-color: $sun;
          border-radius: 5px;
          font-size: 18px;
          border: black solid 2px;
          height: 100%;
          width: 147px;
          justify-self: flex-start;
          transition: .25s all ease-in;
          &:hover{
            background-color: $full-moon;
            border: solid 2px black;
            color: $sun;
          }
        }
        a {
          padding-left: 15px;
          font-size: 24px;
        }
      }
    }
  }
}
