@mixin modal-bg {
  position: absolute;
  top: 0;
  background-color: rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(3px);
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
}

@mixin modal {
  height: 630px;
  width: 675px;
  background-color: $full-moon;
  border-radius: 15px;
}

@mixin modal-header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 10%;
  padding: 0 30px;
  position: relative;
  background: $moon;
  @media (max-width: $xs) {
    padding: 0 15px;
  }
  h1 {
    font-size: 24px;
    margin: 0 auto;
    text-transform: capitalize;
  }
  .close {
    cursor: pointer;
  }
}

@mixin content-container{
  display: flex;
  min-height: 90%;
  flex-direction: column;
  box-sizing: border-box;
  padding: 24px 45px;
  @media (max-width: $xs) {
    padding: 24px 0px;
  }
}


@mixin custom-dropdown($width){
  .form-dropdown{
    position: relative;
    width: $width;
    label{
      position: relative;
      width: fit-content
    }
    input{
      box-sizing: border-box;
      width: 100%;
    }
    .form-options{
      position: absolute;
      z-index: 4;
      width: 100%;
      max-height: 300px;
      overflow-y: scroll;
      box-sizing: border-box;
      background-color: $moon;
      border-left: 1px solid black;
      border-right: 1px solid black;
      border-bottom: 1px solid black;
      &.close{
        display: none;
      }
      &.open{
        display: block;
      }

      li{
        display: flex;
        border-bottom: 1px solid $full-moon;
        align-items: center;
        justify-content: flex-start;
        padding: 15px;
        &:hover{
          background-color: rgba(0, 0, 0, 0.05);
          backdrop-filter: blur(1px);
        }
        .option{
          width: 20px;
          height: 20px;
        }
        label{
          margin-left: 10px;
          font-size: 20px;
          width: 100%;
          cursor: pointer;
        }
      }
    }
  }
}