.home-screen{
  box-sizing: border-box;
  height: 80%;

  .home-content{
    width: 50%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;

    p{
      font-size: 67px;
      text-transform: capitalize;
      @media (max-width: $xs) {
        font-size: 47px;
      }

      &#add{
        color: #329930;
      }
      &#edit{
        color: #979930;
      }
      &#track{
        color: #993030;
      }
    }
    
  }
}