.signin-form {
  display: flex;
  width: 500px;
  height: 25%;
  justify-content: space-between;
  align-items: center;
  padding-right: 30px;

  .close{
    align-self: flex-start;
    background-color: $mars;
  }
  input {
    height: 100%;
    padding: 5px 10px;
    box-sizing: border-box;
    background-color: $moon;
    border: black solid 1px;
    font-size: 16px;
    color: black;
    text-transform: uppercase;
    &::placeholder {
      font-size: 18px;
      color: $crater;
    }
  }
  button {
    height: 100%;
    background-color: $sun;
    border-radius: 5px;
    box-sizing: border-box;
    border: solid 1px black;
    transition: 0.25s all ease-in;
    &:hover {
      background-color: $full-moon;
      border: solid 1px black;
      color: $sun;
    }
  }
}


