@mixin nav-auth-links($width, $bg-color){
  border: solid 1px black;
  padding: 5px;
  box-sizing: border-box;
  color: black;
  cursor: pointer;
  transition: all 0.25s ease-in;
  width: $width;
  text-align: center;
  &:hover{
    background-color: $bg-color;
    opacity: .8;
  }
}


header{
  .btns-lout {
    width: 25%;
    display: flex;
    justify-content: space-around;
    @media (max-width: $xs) {
      display: none;
    }
    button {
      border: none;
      background-color: transparent;
    }
  }
  .links-lin {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    @media (max-width: $sm) {
      display: none;
      width: initial;
    }
    p {
      cursor: pointer;
      transition: all 0.25s ease-in;
      &:hover {
        color: $sun;
      }
      &.user{
        @include nav-auth-links(175px, $mars);
      }
      &.auth{
        @include nav-auth-links(85px, $sun);
        @media (max-width: $sm) {
          @include nav-auth-links(175px, $sun);
        }
      }
      &:nth-child(1),
      &:nth-child(2){
        display: flex;
        align-items: flex-end;
        span{
          margin-right: 4px;
        }
      }
    }
  }
}