.hamburger-icon{
  display: none;
  @media (max-width: $sm) {
    display: block;
  }
}

.hamburger-menu{
  background-color:$full-moon;
  height: 100vh;
  width: 100vw;
  position: fixed;
  left: 0;
  z-index: 2;
  &.opened{
    top: 20%;
    animation: swoop-in .85s ease-in-out;
    display: flex;
    justify-content: center;
    .links-lin{
      @media (max-width: $sm) {
        display: flex;
        flex-direction: column;
        height: 80%;
      }
      p{
        font-size: 24px;
        margin: 5px 0;
        letter-spacing: 4px;
      }
    }
  }
  &.closed{
    top: 120%;
    animation: swoop-out .85s ease-out;
  }
}