.hamburger-icon{
  display: none;
  @media (max-width: $xs) {
    display: block;
  }
}

.hamburger-menu{
  background-color: rgba(0, 0, 0, 0.35);
  backdrop-filter: blur(10px);
  height: 100vh;
  width: 100vw;
  position: fixed;
  left: 0;
  &.opened{
    top: 20%;
    animation: swoop-in 1s ease-in
  }
  &.closed{
    top: 120%;
    animation: swoop-out 1s ease-out;
  }
}