header{
  .btns-lout {
    width: 25%;
    display: flex;
    justify-content: space-around;
    @media (max-width: $xs) {
      display: none;
    }
    button {
      border: none;
      background-color: transparent;
    }
  }
  .links-lin {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    @media (max-width: $sm) {
      display: none;
    }
    p {
      cursor: pointer;
      transition: all 0.25s ease-in;
      &:hover {
        color: $sun;
      }
      &.user{
        border: solid 1px black;
        padding: 5px;
        box-sizing: border-box;
        color: black;
        cursor: pointer;
        transition: all 0.25s ease-in;
        width: 175px;
        text-align: center;
        &:hover{
          background-color: $mars;
          opacity: .8;
        }
      }
    }
  }
}