.btns-lout {
  width: 25%;
  display: flex;
  justify-content: space-around;
  button {
    border: none;
    background-color: transparent;
  }
}
.links-lin {
  width: 50%;
}

p {
  cursor: pointer;
  transition: all 0.25s ease-in;
  &:hover {
    color: $sun;
  }
}
