@import url("https://fonts.googleapis.com/css2?family=Questrial&display=swap");
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

nav {
  box-sizing: border-box;
  border: gold solid 2px;
  height: 20%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

nav .links-lout {
  width: 25%;
}

nav .links-lin {
  width: 50%;
}

nav .links-lout, nav .links-lin {
  font-size: 24px;
  display: flex;
  justify-content: space-evenly;
}

.home-screen {
  box-sizing: border-box;
  border: blue solid 1px;
  height: 80%;
}

.home-screen .home-content {
  width: 50%;
  height: 100%;
  border: green solid 1px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.home-screen .home-content p {
  font-size: 67px;
  text-transform: capitalize;
}

.home-screen .home-content p#add {
  color: #329930;
}

.home-screen .home-content p#edit {
  color: #979930;
}

.home-screen .home-content p#track {
  color: #993030;
}

.modal-bg {
  position: absolute;
  top: 0;
  background-color: rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(3px);
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-bg .modal {
  height: 630px;
  width: 675px;
  background-color: #FFFDFD;
  border-radius: 15px;
}

.modal-bg .modal header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 10%;
  padding: 0 30px;
  position: relative;
  background: #f6f1f1;
}

.modal-bg .modal header h1 {
  font-size: 24px;
  margin: 0 auto;
  text-transform: capitalize;
}

.modal-bg .modal header .close {
  position: absolute;
}

.modal-bg .modal .forms {
  display: flex;
  height: 90%;
  flex-direction: column;
  justify-content: space-evenly;
  box-sizing: border-box;
  padding: 24px 45px;
}

.modal-bg .modal .forms .port-form {
  display: flex;
}

.modal-bg .modal .forms .port-form input {
  width: 381px;
}

.modal-bg .modal .forms .port-form button {
  background-color: #156b0d;
  height: 56px;
  width: 56px;
  border-radius: 15px;
  font-size: 24px;
  border: #156b0d solid 1px;
  margin: 0 auto;
  color: white;
}

.modal-bg .modal .forms .asset-form {
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.modal-bg .modal .forms .asset-form input {
  width: auto;
}

.modal-bg .modal .forms .asset-form button {
  background-color: #ffa959;
  border-radius: 15px;
  font-size: 24px;
  border: black solid 2px;
  height: 56px;
  width: 157px;
  margin: 0 auto;
}

.modal-bg .modal .forms input {
  height: 56px;
  padding: 0 45px;
  background-color: #e9e2e2;
  border: black solid 2px;
  font-size: 24px;
  color: #807d7d;
}

.modal-bg .modal .forms input::placeholder {
  font-size: 24px;
  color: #807d7d;
}

.modal-bg .modal .forms datalist {
  background-color: #e9e2e2;
  color: #807d7d;
}

.modal-bg {
  position: absolute;
  top: 0;
  background-color: rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(3px);
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-bg .modal {
  height: 630px;
  width: 675px;
  background-color: #FFFDFD;
  border-radius: 15px;
}

.modal-bg .modal header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 10%;
  padding: 0 30px;
  position: relative;
  background: #f6f1f1;
}

.modal-bg .modal header h1 {
  font-size: 24px;
  margin: 0 auto;
  text-transform: capitalize;
}

.modal-bg .modal header .close {
  position: absolute;
}

body, #root {
  border: red 2px solid;
  height: 100vh;
  font-family: "Questrial", sans-serif;
}

a {
  text-decoration: none;
  color: black;
}
/*# sourceMappingURL=main.css.map */