@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

@import './vars';
@import './animations';
@import './layout/nav', './layout/layout';
@import './screens/home', './screens/port';
@import './modals/asset', './modals/ports';

body, #root{
  box-sizing: border-box;
  height: 100vh;
  font-family: $font;
}



a{
  text-decoration: none;
  color: black;
  &:visited{
    outline: $moon solid 1px;
  }
}